/*font*/
body {
    font-family: cursive;
}
a {
    text-decoration: none;
    color: #241258;
}

/*containers */
.index-con {
    width: 800px;
    margin: 0 auto;
    padding: 0 40px 40px 40px;
}
.add-con {
    width: 400px;
}
.edit-con {
    width: 850px;
}
.rexp-con {
    width: 400px;
}
.sell-con {
    width: 550px;
}
.sell-con,.rexp-con,.add-con,.edit-con,.due-con {
    padding: 40px;
    margin: auto;

}
.sell-con,.rexp-con,.index-con,.add-con,.edit-con,.due-con {
    background-color: #4a7545;
    overflow: auto;
    align: center;
    border-radius: 30px;
    box-shadow: 8px 8px 50px black;
}

.due-con {
    width: 800px;
}
.add-due-con {
    width: 400px;
    align: center;
    margin: auto;
}


/*home page*/
#col1 {
    width: 500px;
    overflow: auto;
    margin: 0;
    float: right;
}
#col2 {
    float: right;
    width: 300px;
}
#col1,#col2 {

}
#incomebox, #outcomebox,#cashbox,#itemsbox,#duebox {
    margin: 0 auto;
    float: left;
}
#incomebox {
    width: 500px;
}
#outcomebox {
    width: 300px;
}
#cashbox {
    width: 300px;
}
#duebox {
    width: 500px;
}
#itemsbox {
    width: 400px;
}

.clock {
    margin: 20px;
}

/*stat page*/
#statsbox {
    margin: 0 auto;
    width: 500px;
}
.graph {
    margin: 0 auto 100px auto;
    width: 800px;
    height: 300px;
}
.graph2 {
    float: left;
    margin: auto;
    width: 400px;
    height: 300px;
}

/*the banner*/
.banner {
    text-align: center;
    margin: auto;
    width: 715px
}
.banner h1 {
    color: #333333
}

/*footer*/
.footer {
    width: 600px;
    align: center;
    margin: auto;
    text-align: center;
}

/*submit button cantainer*/
.center-submit {
    margin: 0 auto;
    width: 125px;
    padding: 10px;
}

/* styling with table dispay*/
div.table {
    display: table;
}
div.tr,form.tr {
    display: table-row;
    table-layout: fixed;
}
div.td {
    display: table-cell;
    padding: 10px;
}

/*flex styling */
.htr{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin: 0 20px;
    border-radius: 15px;
}
div.index-con .htr:nth-child(odd) {
    background-color: #691b1b;
}
div.index-con .htr:nth-child(even) {
    background-color: #1e5a1c;
}
.htd34 {
    width: 75%;
}
.htd3 {
    width: 33%;
}
.htd4 {
    width: 25%;
}
.htd2 {
    width: 50%;
}

/*input field sizing*/
.percent {
    width: 65px;
}
.profit {
    width: 70px;
}
.count {
    width: 60px;
}
.price {
    width: 80px;
}
.rm-due-amount {
    width: 80px;
}


/* nav bar*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
    align-items: center;
}
ul.nav li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}

/*input forms */
input[type=text], input[type=number], select {
    padding: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit],input[type=reset],input[type=button],button {
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover,input[type=reset]:hover,input[type=button],button:hover {
    background-color: #45a049;
}

:disabled {
    cursor: not-allowed;
}